// ==== Basic Styles ==== //

$headlineColorStandard: rgb( 20, 20, 20 );
$paragraphColorStandard: rgb( 20, 20, 20 );

h1, h2, h3, h4, h5, h6 {
	color: $headlineColorStandard;
	line-height: 1.2em;
	margin: 0 0 2% 0;
	font-family: "Open SanS", sans-serif;
}

h1 {
	font-size: 78px !important;
}

h2 {
	font-size: 36px !important;
	//font-weight: bold !important;
}

h3 {
	font-size: 32px !important;
	font-weight: bold !important;;
}

p {
	font-size: 28px;
	line-height: 1.4em;
	margin: 0 0 2% 0;
	color: $paragraphColorStandard;
	font-family: "Rajdhani", sans-serif;
	
	&.greeting {
		font-size: 42px;
	}
}

a {
	text-decoration: none;
	border-bottom: 2px dashed rgb( 220, 220, 255 );

	&:hover {
		text-decoration: none !important;
		background-color: rgb( 220, 220, 255 );
	}
}

span {
	background-color: rgb(220, 220, 255);	
}

img {
	line-height: 0;
	display: block;
}
