// Sections are blocks of articles 
section {
    width: 100%;
    padding: 2% 8% 2% 8%;
    background-color: white;

    // section wide "basics" changes    
    ul {
        font-family: "Rajdhani", sans-serif;
        list-style-type: square;
        
        li {              
            font-size: 28px;
            margin: 0 0 0 10%;
            font-weight: normal;
            color: rgb( 20, 20, 20 );
    
            ul {
                
                li {
                    margin: 0 0 0 5%;
                    font-size: 24px;
                }                
            }
        }
    }

    // Articles in Sections

    article {
        width: 100%;
        padding: 0 2% 0 2%;
        
        &.layout75,
        &.layout50,
        &.layout33,
        &.layout25,
        &.layout10 {
            float: left;            
        }

        &.layout75 {
            width: 75%; 

            .avatar {
                width: 20%;
                float: left;
                margin: 0 3% 1% 0;            
    
                img {
                    width: 100%;                
                }
                
            }
        }
        
        &.layout50 {
            width: 50%;
            
            .avatar {
                width: 20%;
                float: left;
                margin: 0 3% 1% 0;            
    
                img {
                    width: 100%;                
                }
                
            }
        }

        &.layout33 {
            width: 33.333%;
            
            .avatar {
                width: 20%;
                float: left;
                margin: 0 3% 1% 0;            
    
                img {
                    width: 100%;                
                }
                
            }
        }

        &.layout25 {
            width: 25%;      
        }
        
        &.layout10 {
            width: 10%;      
        }        
    }
}

.center-text {
    text-align: center;
}

.dark {
    background-color: rgb(40, 40, 40);
    
    h1, 
    h2, 
    h3, 
    h4, 
    h5, 
    h6, 
    p, 
    a,
    li,
    strong, 
    span, 
    small {
        color: rgb(255, 255, 255);
    }
}
