* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.cfloat {
    clear: both;
    float: none;    
}
