* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    -webkit-transition: all 0.2s ease-in;
    -moz-transition:    all 0.2s ease-in;
    -o-transition:      all 0.2s ease-in;
    -ms-transition:     all 0.2s ease-in;
    transition:         all 0.2s ease-in;    
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.cfloat {
    clear: both;
    float: none;    
}
