/* Small Devices, Tablets */
@media only screen and (max-width : 990px) { 

    h1 {
        font-size: 64px !important;
    }

    h2 {
        font-size: 28px !important;
        margin: 10% 0 5% 0;        
    }

    h3 {
        font-size: 28px !important;
        font-weight: bold !important;;
    }

    p {
                
        &.greeting {
            font-size: 36px;
        }

        &.capit {
            &:first-letter {
                color: rgb( 70, 105, 170 );
                float: left;
                font-weight: bolder;			
                font-size: 85px;
                line-height: 60px;			
                padding: 8px 8px 0 3px;			
                text-shadow: 2px 0 0 rgb( 70, 105, 170 );
                
            }		
        }	
    }

    

    // Header

    
      
    body {
        padding: 0 0 0 0;
    }
      
    nav {
        width: 100%;
        padding: 0 8%;
        background-color: rgb( 40, 40, 40 );
        border-bottom: 1px dashed rgb( 255, 255, 255 );
        position: fixed;
        top: 0;
        left: 0;
      
        ul {
            list-style: none;
            margin: 0;
      
            li {
                display: inline-block;
                padding: 5% 2%;
                font-size: 24px;
                color: rgb( 255, 255, 255 );
                line-height: 0;  
                height: 100%;
                vertical-align: middle;
                cursor: pointer;
            
                &:hover {
                    background-color: rgb( 120, 120, 120 );
                }
            }
        }
    }

    header {
        width: 100%;
        height: 100%;
        height: calc( 100% - 1px );
        background-image: url( '../img/bg/new_header.jpg' );
        background-position-x: 50%;
        background-size: cover;
        background-attachment: scroll;
        border-bottom: 1px solid rgb( 160, 160, 160 );
        
        img {
            width: 100%;
        }
      }
    
    // Layout
    
    section {

        // Articles in Sections
        article {
            width: 100%;
            padding: 0 2% 0 2%;

            &.profile {            
                border-right: 0;
                &.left {
                    border-right: 0;
                    border-left: 0;

                    &.white {
                        border-left: 0;
                    }
                }
            }
            
            &.layout75,
            &.layout50,
            &.layout33,
            &.layout25 {
                float: none;
                margin: 0 0 5% 0;
                
                .avatar {
                    width: 20%;
                    float: left;
                    margin: 0 3% 1% 0;            
        
                    img {                    
                        width: 100%;                    
                    }

                    &.land {
                        width: 30%;
                        margin: 3% 5% 1% 0;
                    }    
                    
                            
                }
            }

            &.layout75 {
                width: 100%; 

                .avatar {
                    width: 30%; 
                }
            }
            
            &.layout50 {
                width: 100%; 
            }

            &.layout33 {
                width: 100%;
                
                .avatar {                
                    margin: 0 5% 1% 0;                
                }
            }

            &.layout25 {
                width: 100%;      
            }
            
            &.layout10 {
                width: 100%;      
            }        
        }
    }

    .disturber {
        width: 100%;
        height: 250px;
        float: none;
        clear: both;
        background-image: url( '../img/bg/new_header.jpg' );
        background-position-x: 50%;
        background-size: cover;
        background-attachment: fixed;

        border-top: 1px dashed rgb( 160, 160, 160 );
        border-bottom: 1px dashed rgb( 160, 160, 160 );
        
        img {
            width: 100%;
        }
    }

    // Footer
    footer {
        width: 100%;
        padding: 2% 8% 2% 8%;
    
        article {
            width: 100%;
            float: none;
            padding: 0 5% 0 0;

            p {
                &.tiny {
                    font-size: 16px;
                }
            }
        }
    
    }

}