footer.footer           
    .row.dark
        .row-spacer &nbsp;
        .col-xs-1
        .col-xs-5
            h4 Contact
            p
                | Benjamin Vockenberg
                br 
                | Christian-Pleß-Straße 12 
                br
                | 63069 Offenbach, Germany
            hr
            .row
                .col-xs-1
                    span.glyphicon.glyphicon-earphone
                .col-xs-11
                    p 
                        a(href="tel:+491621033737") +49 (0)162 103 373 7
            .row
                .col-xs-1
                    span.glyphicon.glyphicon-envelope
                .col-xs-11
                    p 
                        a(href="benjamin.vockenberg@gmail.com") benjamin.vockenberg@gmail.com
        .col-xs-1
        .col-xs-4
            h4 social media
            p twitter: @technokrat 
        .col-xs-1
        