footer.dark          
    article
        h4 Contact
        p
            | Benjamin Vockenberg
            br 
            | Christian-Pleß-Straße 12 
            br
            | 63069 Offenbach, Germany
            hr
            p 
                a(href="tel:+491621033737") +49&nbsp;(0)162&nbsp;103&nbsp;373&nbsp;7
            p 
                a(href="benjamin.vockenberg@gmail.com") benjamin<wbr>.vockenberg<wbr>;@gmail.com

    article
        h4 social media
        p twitter: @technokrat    

    article
        h4 Privacy
        p.tiny This is non commercial website. No Cookies, no tracking, no phishing... This is in fact a friendly site. If you find something that is not correct then contact me and I'll correct it as soon as possible.
            br
            | thx and best wishes
            br
            stong Ben :)

    .cfloat
