nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
        .navbar-header
            a(href="#").navbar-brand.glyphicon.glyphicon-home
        .collapse.navbar-collapse
            ul.nav.navbar-nav
                li.active
                    a(href="#") Hi
                li
                    a(href="#") About
                li
                    a(href="#") Work
            ul.nav.navbar-nav.navbar-right
                li
                    a(href="#") Username
.wide
    .col-xs-5.line
    .col-xs-2.logo Logo
    .col-xs-5.line