doctype html
html
    head
        title das ist eine Testseite
        link(rel="stylesheet" href="../css/main.css")
    body       
        div.container
            section.row.justify-content-md-center
                article.col-sm-3
                    p das ist ein nützlicher Testseite
                    span.glyphicon.glyphicon-tree-deciduous(aria-hidden="true")
                article.col-sm-9
                    p das war nötig um zu testen ob alles funktioniert