doctype html
html(lang="en")
    head
        title V is for Vockenberg
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="description" content="Benjamin Vockenberg is a frontend developer in Frankfurt using angular webpack github js unit testing. Also knowing how to build web apps with VueJS and React")
        meta(name="keywords" content="fontend, developer, angular, webpack, web, app, application")
        link(rel="stylesheet" href="css/main.css")
        
        script(src="js/angular.min.js")
        script(src="js/angular-route.min.js")
        script(src="js/angular-mocks.js")
        
        script(src="js/homeGreeterMainCtrl/greet.component.js")
        script(src="js/homeGreeterMainCtrl/greet.phrases.service.js")
        script(src="js/homeAppNavigationCtrl/homeAppNavigation.component.js")
    
    body(ng-app="greeterApp")
        
        nav(ng-controller="appNavigationCtrl") 
            ul
                li#navwho(ng-click="scrollTo('who', $event)") I am
                li#navskillz(ng-click="scrollTo('skillz', $event)") My skillz
                li#navcurriculum(ng-click="scrollTo('curriculum', $event)") Curriculum vitae
                li#navhello(ng-click="scrollTo('hello', $event)") Say'ello

        .wide
            .col-sm-5.line
            .col-sm-2.logo
            .col-sm-5.line 

        section.hi#who

            article(ng-controller="GreeterController")
                h1.center-text V is for Vockenberg                
                <greeter-component out="hi()"></greeter-component>

        section           

            h2 My name is Ben!

            article.layout75.profile

                .avatar
                    img(src="img/content/benjaminvockenberg.jpg" alt="picture of me")
                
                p.capit   And I'a a 
                    strong fontend developer 
                    | in Frankfurt, Germany. I'm doing Internet stuff since 2007 as I leared how much fun it is to get things moved into the WWW and to earn money with it. 
                    
                p   I made a lot of good experiences at the advertising companies I was working for. Mostly as web-developer using all kinds of web based programing languages... 
                
                p Soon I learned how to create web applications using the newest technologies like 
                    strong HTML5, CSS3, JS and all its mighty frameworks 
                    | used Laravel as well. If you want to know more about this time then... 
                    a(href="#") read more...

            article.layout25

                h2 Short profile

                ul
                    li born in Nov. 1981
                    li married with children
                    li always willing to learn
                    li always de-escalating
                    li I prefer vegetarian food 
                    li I like to play in a team
            
            .cfloat

        section.dark

            article.layout33

                h3  What I can give
                p.capit Starting a web app projects from scratch using modern frameworks like 
                    strong Angular, React and VueJS is an easy task for. 
                    | I like unit testing, Git and process automation such as gulp and webpack. I also like TypeScript and ES6 a lot. I know how to make responsive websites and apps with or without frameworks.

            article.layout33

                h3  What I want
                p.capit   Agile is king and I would like to work in a 
                    strong scrum 
                    | using team. I'm able to work alone if its needed, but I prefer to be part of a team. I'm always willing to learn and share knowledge by visiting UserGroups and conferences. I also like to work near Frankfurt but at least in Germany.

            article.layout33

                h3  What else is there?
                p.capit   Since Dec. 2017 I'm proud to be father of the most beautiful daughter in th world. I'm married with a powerpuff girl. Beside this I'm a hobby 
                    a(href="https://psychomonstercom.itch.io/") game developer 
                    | and digital portrait artist as well. I like electronic music and I'm a big fan of sports cars... I think I can cook very well!

            .cfloat 

        .disturber

        section#skillz

            h2 Frontend Skillz

            article.layout50

                h3 Angular &amp; Co.
                
                .avatar
                    img(src="img/content/angular.svg" alt="angular logo svg")
                
                p.capit Loving Javascript because it is best for learning and using functional programming. The features of ES6 are awesome. But in order to create big scaled web applications It is good to know you can count on lots of helping hands. Framesworks can handle lots of stuff you would have take care of by your self. There are many frameworks out there, but I prefer using Angular for more complex applications and VueJs for more or less simpler projects.

            article.layout50

                h3 Vue &amp; friends
                
                .avatar                    
                    img(src="img/content/vuejslogo.svg" alt="vue logo svg")
                
                p.capit Many people are using the framework for each project, cause they are happy to do so. But I love to have the possibility to have a more lightweight framework for more lightweight a like Projects. Vue is the best choice for smaller applications. Some people would ask now: 
                    span what about React'n'stuff? 
                    | Yeah React is cool, but I prefer to keep my smaller projects as simple as possible. If you never took a look to Vue, you definitely should do so.

            .cfloat

        
        section.dark

            h2 There is more I know to work with                        
                
            article.layout33
                
                h3 NodeJS
                .avatar.land
                    img(src="img/content/node_logo.svg" alt="angular logo svg")
                p.capit The easiest way to build a strong web application I know is NodeJs. Easy to setup, Flexible as hell and well documented. Besinde this I love it's awesome package manager. It is frequently used in most of all my projects!
                
            article.layout33
                
                h3 Gulp
                .avatar
                    img(src="img/content/gulplogo.svg" alt="angular logo svg")
                p.capit Deploying a web application by hand with all its tasks you have to keep mind is anoying. Using gulp automation is a 
                    i first prize
                    | situation. Compressing js, html and css. Or process pug data or sass. I like Gulp
                    small
                        sup &copy;
                    |. It is easy to setup and to modify. 
                    
                
            article.layout33
                
                h3 Webpack
                .avatar
                    img(src="img/content/webpack.svg" alt="angular logo svg")
                p.capit   A better and more modern approach of process automation. It handles all your needs and you can focus more on being productive! Its most beein used in modern frameworks like AngularCLI and VueCLI. For those who're using Angular you can use it with no configuration!

            .cfloat

        .disturber

        section#curriculum

            h2 Curriculum Vitae – its my life

            article.layout33
                h3 1981
                p.capit Born in a little town called Bad Hersfeld in the middle of nowhere. Me and my parents were living in a even smaller town called Süß (translated = "Sweet" or better "cute") near Bad Hersfeld, near the border to the DDR... 

            article.layout33
                h3 1986
                p.capit It feels like yesterday, as my cousin baught me an Atari 2600 with two joysticks, Frogger and Pitfall. This was my first approach to gaming, computers and electronics. I still have the Cartrige of Pitfall in my desk at home.

            article.layout33
                h3 1989
                p.capit Got a C64 with a diskdrive and a DataSette. This changed my life in a way my parents could not imagine. I started to do my Homework with this machine. I used Basic to do math homework! My math teacher was fascinated by my basic skills at this age and he motivated me to continue doing so.

            .cfloat
        
        section.dark

            article.layout33
                h3 1991
                p.capit This year I was introduced to the school IT working group. It was a voluntary lessons taking place in the afternoon. I was proud to be part of it. I learned to use Pascal as a new programming language on an IBM XT. There I met my best friends for the first time. Real nerds!

            article.layout33
                h3 1994
                p.capit Enough money to buy my own PC. It was a Pentium 100 with 8 MB Ram, a QuadSpeed CD-ROM a Soundblaster AWE32 and a Vesa-Graphics card. Only with DOS 6.22 and Windown 3.11 installed. Still interessed in programming but playing games and visiting LAN-Parties was much more fun!

            article.layout33
                h3 1999
                p.capit A big change. Signed up to a professional high school for economic computer science. boring as hell. The only lesson I loved was the Pascal-Class and the Network-laboratory-Class. I learned much about financial calculations and databases like MS-Access.

            .cfloat

        section

            article.layout33
                h3 2001
                p.capit Then right after leaving school I knew that the time was still not right to go work every day. So I signed up for computer science studies in Fulda, Germany. What a waste of time. I better should have taken the job at B. Braun or Siemens as an application developer or System builder.

            article.layout33
                h3 2007
                p.capit Another impact: I canceled my studies and started to work for an advertisement company as a web-designer in Frankfurt. It was the best decision I could possibly do. I still love my profession. It was way better to do practical work than learning about it only by theory.

            article.layout33
                h3 2012
                p.capit Started working for the Messe Frankfurt. There I learned much about creating web based applications. One of those tools was build for selling boothes for the followup fairs. It was a modern web tools using app. Browser storrage, Offline-Mode and responsive design!

            .cfloat

        section.dark

            article.layout33
                h3 2016
                p.capit Once again Ichange my point of view. So I left this Company and started as a Frontend-Dev in a Company thats is well known the No. 2 ticketing company in Germany. There I create the frontend for special tools for event managers especialy for Theater customers using Angular.

            article.layout33
                h3 2018
                p.capit Proud to say that I'm still working for the ticketing company. I'm happy about working in an agile workflow. I also started to work on more backend topics at the product we're creating. It is much fun using Symfony framework, MongoDB and SQL again. 

            article.layout33.profile.left.white
                h3 Will be continued...
                p "Time is an illusion." &ndash; Albert Einstein

            .cfloat

        .disturber

        include _data/pug/footer.pug
