doctype html
html
    head
        title das ist eine Testseite
        link(rel="stylesheet" href="css/main.css")
    body
        .wrap
            header
                nav
                    .service
                        p das ist ein test
                    .cfloat
        section.intro
            article
                h1 Hello visitor
                h2 My name is Benjamin Vockenberg
        section
            article.layout50
                h3 Who I am
                p 
                    | Celiac jianbing sustainable knausgaard normcore shabby chic. Mlkshk etsy blue bottle lo-fi meh, chartreuse thundercats. 
                    span Gentrify etsy unicorn, 
                    | XOXO ea pariatur pok pok. Tilde art party consectetur, cardigan ennui voluptate  raw denim meggings sustainable truffaut tempor. Kickstarter iceland pitchfork retro culpa  copper mug. Wolf dolore elit cupidatat  next level swag deep v raw denim, wayfarers try-hard. Letterpress mollit fugiat vexillologist velit, cronut pickled pug banh mi aliqua waistcoat literally aesthetic.
            article.layout50
                h3 Who I am
                p Celiac jianbing sustainable knausgaard normcore shabby chic.  Mlkshk etsy blue bottle lo-fi meh, chartreuse thundercats. Gentrify etsy unicorn, XOXO ea pariatur pok pok. Tilde art party consectetur, cardigan ennui voluptate raw denim meggings sustainable truffaut tempor. Kickstarter iceland pitchfork retro culpa copper mug. Wolf dolore elit cupidatat next level swag deep v raw denim, wayfarers try-hard. Letterpress mollit fugiat vexillologist velit, cronut pickled pug banh mi aliqua waistcoat literally aesthetic.
            .cfloat
                