doctype html
html(lang="en" ng-app="greeterApp")
    head
        title V is for Vockenberg
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel="stylesheet" href="css/main.css")
        
        script(src="js/angular.min.js")
        script(src="js/angular-route.min.js")
        script(src="js/angular-mocks.js")        
        
        script(src="js/homeGreeterMainCtrl/greet.component.js")       
    
    body
        
        nav 
            ul
                li Hi!
                li My life
                li Projects
                li Lets talk
                li Imprint

        .wide
            .col-sm-5.line
            .col-sm-2.logo
            .col-sm-5.line

        section(class="hi")

            article
                h1(class="center-text") V is for Vockenberg
                p(ng-controller="GreeterController" class="center-text greeting") {{ hi() }}

        section
            
            article(class="layout75")
                h2 Hi I'm Ben!
                
                p   Simply Ben but my full name is 
                    span Benjamin Vockenberg. 
                    | I'm working as a 
                    span fontend developer in Frankfurt, Germany. 
                    | I'm doing dev-stuff for the Internet since 2007 as I leared how much fun it is to get things moved into the world wide web and earning money with it. 
                    
                p   I earned a lot of experience at the companies I worked for. Mostly I worked for advertisement agencies. I learned to use the most common web technologies there &ndash; HTML, CSS, Javascript, PHP, SQl... 
                
                p In order to get my skills improved I learned how to create applications using the newest technologies like HTML5, CSS3, 
                    span Angular and a tiny little bit Laravel. 
                    | If you want to know more about this time then... 
                    a(href="#") read more...

            article(class="layout25")

                h2 Wanted Poster

                .avatar

                ul
                    li created '81
                    li married with children                    
                    li still hungry
                    li like to learn new things
            
            .cfloat

        section

            article(class="layout33")

                h3  What I can give
                p   I'm able to start web application projects from scratch using the most common and newest frameworks like Angular, React and ViuJS. I like JsUniteTesting, Github workflows and process automation such as gulp, grunt and webpack. No need for a big GUI for coding. The only thing I need is Atom, SublimeText or VSCode. I also like TypeScript or ES6 a lot. I know how to make responsive UI's with Bootstrap but I'm also able to use plain HTML5 and CSS3... So lets get started!

            article(class="layout33")

                h3  What I want
                p   The "what I want" is easy, "Its gaining" is complicated. I'm not a absolute guy, but it would be nice to work in a scrum-a-like workflow using team. I'm able to work alone if its needed, but I prefer to be part of a team. If there is a new approach in the frontend scene I would like to learn and share my knownledge by visiting workshops or conferences. I also like to stay near Frankfurt.

            article(class="layout33")

                h3  What else is there?
                p   Since Dec. 2017 I'm proud to be the father of the most beautiful daughter in th world. I'm married with a powerpuff girl. She is a really tuff and lovely woman. Beside this I'm a hobby game developer and portrait artist as well. I like electronic music and I'm a big fan of sports cars... dreaming about to own a Lamborgini Aventator GT ...
                
            .cfloat 

        

        

        include _data/pug/footer.pug
        