doctype html
html
    head
        title das ist eine Testseite
        link(rel="stylesheet" href="css/main.css")
    body
        .wrap
            header
                nav
                    .service
                        p das ist ein test
                    .cfloat
                