doctype html
html(lang="en" ng-app="greeterApp")
    head
        title V is for Vockenberg
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel="stylesheet" href="css/main.css")
        
        script(src="js/angular.min.js")
        script(src="js/angular-route.min.js")
        
        script(src="js/homeGreeterMainCtrl/app.js")
        script(src="js/homeGreeterMainCtrl/greet.component.js")       
    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container-fluid
                .navbar-header
                    a(href="#").navbar-brand.glyphicon.glyphicon-home
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href="#") Hi
                        li
                            a(href="#") About
                        li
                            a(href="#") Work                    
        .wide
            .col-xs-5.line
            .col-xs-2.logo Logo
            .col-xs-5.line

        .container-fluid

            .row-spacer &nbsp;

            .row
                .text-center
                    h1 V is for Vockenberg
                .col-xs-1
                .col-xs-10  
                    // here goes the greet.component with fallback                  
                    p(ng-controller="GreeterController" class="text-center greeting") {{ hi() }}                    
                .col-xs-1

            .row-spacer &nbsp;

            // section with 2 columns
            .row
                .col-xs-1
                .col-xs-5
                    h2 Who am I
                    p 
                        | My name is Benjamin Vockenberg. I'm working as a fontend developer in Frankfurt, Germany. I'm developing web appplications since 2011 for 
                        mark Messe Frankfurt
                        | for example. 
                    p   
                        | Before that time I was working for the advertisement agency 
                        mark DynamicWorkflow 
                        | as a Webdesigner. From 2012 I worked for media production company as a product owner for a digital brochure for the Messe Frankfurt.
                    p   
                        | From October 2016 I'm working for 
                        mark Reservix GmbH
                        | in Frankfurt. 
                .col-xs-5
                    h2 Contact me
                    .form-group
                        label(for="yourMail") Your Adress
                        input(type="email" class="form-control" id="yourmailtest" placeholder="E-Mail")
                    .form-group
                        label(for="yourText") Your text
                        textarea.form-control(rows="5")
                    button(type="submit").btn.btn-default Senden
                .col-xs-1 

            .row-spacer &nbsp;  
            .row-spacer &nbsp;

        include _data/pug/footer.pug