doctype html
html(lang="en" ng-app="greeterApp")
    head
        title V is for Vockenberg
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel="stylesheet" href="css/main.css")
        
        script(src="js/angular.min.js")
        script(src="js/angular-route.min.js")
        script(src="js/angular-mocks.js")        
        
        script(src="js/homeGreeterMainCtrl/greet.component.js")
        script(src="js/homeGreeterMainCtrl/greet.phrases.service.js")       
    
    body
        
        nav 
            ul
                li Hi!
                li My life
                li Projects
                li Lets talk
                li Imprint

        .wide
            .col-sm-5.line
            .col-sm-2.logo
            .col-sm-5.line

        section(class="hi")

            article(ng-controller="GreeterController")
                h1(class="center-text") V is for Vockenberg                
                <greeter-component out="hi()"></greeter-component>

        section 
            
            article(class="layout75")
                h2 Hey there I'm Ben!

                .avatar
                    img(src="img/content/benjaminvockenberg.jpg" alt="picture of me")
                
                p   I'm a 
                    strong fontend developer 
                    | in Frankfurt, Germany. I'm doing Internet stuff since 2007 as I leared how much fun it is to get things moved into the WWW and earning money with it. 
                    
                p   I made a lot of good experiences at the advertising companies I was working for. Mostly as web and web-developer using all kinds of web based programing languages... 
                
                p Soon I learned how to create web applications using the newest technologies like 
                    strong HTML5, CSS3, Angular 
                    | and a tiny little bit Laravel. If you want to know more about this time then... 
                    a(href="#") read more...

            

            article(class="layout25")

                h2 Wanted?                

                ul
                    li born in 1981
                    li married with children                    
                    li always willing to learn
                    li always de-escalating
                    li I prefer vegetarian food 
                    li I like to play in a team
            
            .cfloat

        section

            article(class="layout33")

                h3  What I can give
                p   I'm able to start web app projects from scratch using modern frameworks like 
                    strong Angular, React and VueJS. 
                    | I like unit testing, Git and process automation such as gulp and webpack. I also like TypeScript and ES6 a lot. I know how to make responsive websites and apps with or without frameworks.

            article(class="layout33")

                h3  What I want
                p   I prefer to work in a 
                    strong scrum 
                    | using team. I'm able to work alone if its needed, but I prefer to be part of a team. I'm always willing to learn and share knowledge by visiting UserGroups and conferences. I also like to work near Frankfurt but at least in Germany.

            article(class="layout33")

                h3  What else is there?
                p   Since Dec. 2017 I'm proud to be father of the most beautiful daughter in th world. I'm married with a powerpuff girl. Beside this I'm a hobby 
                    a(href="https://psychomonstercom.itch.io/") game developer 
                    | and digital portrait artist as well. I like electronic music and I'm a big fan of sports cars... I think I can cook very well!
                
            .cfloat

        include _data/pug/footer.pug
        