doctype html
html(lang="en")
    head
        title das ist eine Testseite
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel="stylesheet" href="css/main.css")
    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container-fluid
                .navbar-header
                    a(href="#").navbar-brand.glyphicon.glyphicon-home
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href="#") Hi
                        li
                            a(href="#") About
                        li
                            a(href="#") Work
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="#") Username
            
        .wide
            .col-xs-5.line
            .col-xs-2.logo Logo
            .col-xs-5.line

        .container-fluid

            .row-spacer &nbsp;
            
            .row
                .text-center
                    h1 V is for Vockenberg
                .col-xs-1
                .col-xs-10
                    p PBR&amp;B man bun humblebrag, gentrify squid flannel seitan. Air plant mixtape XOXO williamsburg typewriter hammock polaroid green juice hell of viral 90's seitan vegan humblebrag meh. Synth twee jean shorts snackwave chartreuse chia pork belly chillwave fanny pack viral readymade adaptogen ramps.  
                .col-xs-1

            .row-spacer &nbsp;

            // section with 2 columns
            .row
                .col-xs-1
                .col-xs-5
                    h2 Who am I
                    p 
                        | PBR&amp;B man bun 
                        code humblebrag, 
                        | gentrify squid flannel seitan. Air plant mixtape XOXO williamsburg typewriter.
                .col-xs-5
                    h2 Contact me
                    .form-group
                        label(for="yourMail") Your Adress
                        input(type="email" class="form-control" id="yourmailtest" placeholder="E-Mail")
                    .form-group
                        label(for="yourText") Your text
                        textarea.form-control(rows="5")
                    button(type="submit").btn.btn-default Senden
                .col-xs-1 

            .row-spacer &nbsp;           
                        
            .row
                .col-xs-1
                .col-xs-5
                    h2 Who am I
                    p 
                        | PBR&amp;B man bun 
                        code humblebrag, 
                        | gentrify squid flannel seitan. Air plant mixtape XOXO williamsburg typewriter.
                .col-xs-5
                    h2 Who am I
                    p 
                        | PBR&amp;B man bun 
                        code humblebrag, 
                        | gentrify squid flannel seitan. Air plant mixtape XOXO williamsburg typewriter.
                .col-xs-1                          
                