doctype html
html
    head
        title das ist eine Testseite
        link(rel="stylesheet" href="css/main.css")
    body
        header
            .logo
                img(src="#" alt="test")
            .claim
                h1 V is for Vockenberg
                p
                    span You can build a castle with V
        section.intro
            article.l50
                h2 Willkommen
                p Das alles ist nur eine Illusion
            article.l50
                h2 V is Quality
                p V is for everything you need!
        

        
        