doctype html
html
    head
        title das ist eine Testseite
        link(rel="stylesheet" href="css/main.css")
    body
        nav.navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand(href="#") Brand
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href="#") Home
                        li.active
                            a(href="#") Home
                        li.active
                            a(href="#") Home
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="#") Username
            
        .wide
            .col-xs-5.line
            .col-xs-2.logo Logo
            .col-xs-5.line

        .container
            .text-center
                h1 Content
            
